<div class="backdrop"></div>
<div class="header_title">
    <h1>The Shop</h1>
    <p>Prove 08</p>
</div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header-nav">
        <ul class="main-header-item-list">
            <li class="main-header-item"><a href="/">CSE341-Home</a></li>
            <li class="main-header-item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="../../../../proveAssignments/08.1/">Shop</a>
            </li>
            <li class="main-header-item">
                <a class="<%= path === '/products' ? 'active' : '' %>" href="../../../../proveAssignments/08.1/shop/products">Products</a>
            </li>
            <!-- <li class="main-header-item">
                <a class="<%= path === '/cart' ? 'active' : '' %>" href="../../../../proveAssignments/08.1/shop/cart">Cart</a>
            </li>
            <li class="main-header-item">
                <a class="<%= path === '/orders' ? 'active' : '' %>" href="../../../../proveAssignments/08.1/shop/orders">Orders</a>
            </li> -->
            <!-- <li class="main-header-item">
                <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="../../../../proveAssignments/08.1/admin/add-product">Add Product
                </a>
            </li>
            <li class="main-header-item">
                <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="../../../../proveAssignments/08.1/admin/products">Admin Products
                </a>
            </li> -->
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
        <ul class="mobile-nav__item-list">
                <li class="mobile-nav__item">
                    <a class="<%= path === '/' ? 'active' : '' %>" href="../../../../proveAssignments/08.1/">Shop</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/products' ? 'active' : '' %>" href="../../../../proveAssignments/08.1/products">Products</a>
                </li>
                <!-- <li class="mobile-nav__item">
                    <a class="<%= path === '/cart' ? 'active' : '' %>" href="../../../../proveAssignments/08.1/cart">Cart</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/orders' ? 'active' : '' %>" href="../../../../proveAssignments/08.1/orders">Orders</a>
                </li> -->
                <!-- <li class="mobile-nav__item">
                    <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="../../../../proveAssignments/08.1/admin/add-product">Add Product
                    </a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="../../../../proveAssignments/08.1/admin/products">Admin Products
                    </a>
                </li> -->
            </ul>
</nav>