<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/product.css">
    </head>

    <body>
        <%- include('../includes/prove09/navigation.ejs') %>
            <main>
                <% if (pokemon.results.length > 0) { %>
                    <div class="grid">
                        <% for (let pokes of pokemon.results) { %>
                            <article class="card pokemon-item">
                                <header class="card__header_pokemon">
                                    <h1 class="product__title">
                                        <!-- <a href="<%= pokes.url %>"> -->
                                            <%= pokes.name[0].toUpperCase() + pokes.name.slice(1) %>
                                        <!-- </a> -->
                                    </h1>
                                </header>
                            </article>
                            <% } %>
                    </div>
                    <div class="center_div">
                        <section class="pagination">
                            <%if(page != 1) { %>
                                <a href="/proveAssignments/09/?page=1">First</a>
                            <% } %>
                            <% if(hasPreviousPage && previousPage != 1) { %>
                                <a href="/proveAssignments/09/?page=<%= previousPage %>">Prev</a>
                            <% } %>
                            <a href="/proveAssignments/09/?page=<%= page %>"><%= page %></a>
                            <% if(hasNextPage) { %>
                                <a href="/proveAssignments/09/?page=<%= nextPage %>">Next</a>
                            <% } %>
                            <% if(nextPage != lastPage && page != lastPage) { %>
                                <a href="/proveAssignments/09/?page=<%= lastPage %>">Last</a>
                            <% } %>
                            
                        </section>
                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>