<%- include('../../includes/head.ejs') %>
<link rel="stylesheet" href="/stylesheets/user.css">
    </head>

    <body>
        <%- include('../../includes/prove06/navigation.ejs') %>
        <main>
            <ul class="user__item-list">
                <li class="user__item">
                    <a class="underline" href="../../../../proveAssignments/06/auth/edit-profile">Edit Current User Profile</a>
                </li>
            </ul>
            
            <% if (users.length > 0) { %>
                <ul class="user__item-list">
                    <% users.forEach(u => { %>
                        <li class="user__item">
                            <div class="user_title">
                                <h1><%= u.first %> <%= u.last %><br>
                                    <span class="normal">Email: <%= u.email %><br>User Type: <%= u.userType %></span></h1>
                            </div>
                            <div class="buttons">
                                <a href="../../../../proveAssignments/06/admin/edit-user/<%= u._id %>?edit=true" class="btn danger">Edit User</a>
                                <form action="../../../../proveAssignments/06/admin/delete-user" method="POST">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="hidden" value="<%= u._id %>" name="userId">
                                    <button class="btn danger" type="submit">Delete User</button>
                                </form>
                            </div>
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <h1>No Registered Users</h1>
            <% } %>
        </main>
        <%- include('../../includes/end.ejs') %>